.propertyFilters {
  padding: 1rem 0;
}

.propertyFilters form {
  display: flex;
  align-items: center;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 1rem;
  flex: 1;
}

.inputGroup label {
  color: hsl(0,0%,60%);
  font-size: .6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .25rem;
}

.inputGroup select, .inputGroup input {
  height: 38px;
  background-color: hsl(0,0%,100%);
  border: 1px solid hsl(0,0%,80%);
  border-radius: .25rem;
  box-sizing: border-box;
}

.toggleView {
  align-self: flex-end;
}

.toggleView ul {
  display: flex;
  align-items: center;
  height: 38px;
}

.toggleView ul li:last-child {
  margin-left: 1rem;
}

.toggleView ul li button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  color: hsl(0,0%, 40%);
}

.toggleView ul li button.active {
  color: #2684FF;
}

.propertyFilters hr {
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid hsl(0,0%, 70%);
}